@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,700;1,100;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.type {
  background: linear-gradient(black 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  background-repeat: no-repeat;
  animation: typing calc(var(--n) * 0.05s) linear alternate;
  animation-timing-function: steps(var(--n));
  color: #0000;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes typing {
  from {
    background-size: 0 200%;
  }
}

:root {
  --height: 60%;
}

.loading {
  padding-inline: 5px;
  width: 10rem;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.loading span {
  border-radius: 0.5rem;
  display: inline-block;
  width: 22%;
  margin: 1px;
  height: var(--height);
  background-color: white;
}

.loading span:nth-of-type(1) {
  animation: anime1 1s ease-in-out infinite;
}
.loading span:nth-of-type(2) {
  animation: anime1 1s ease-in-out 0.15s infinite;
}
.loading span:nth-of-type(3) {
  animation: anime1 1s ease-in-out 0.3s infinite;
}
.loading span:nth-of-type(4) {
  animation: anime1 1s ease-in-out 0.4s infinite;
}

@keyframes anime1 {
  from {
    height: var(--height);
  }
  40% {
    height: 100%;
  }
  80% {
    height: var(--height);
  }
  to {
    height: var(--height);
  }
}
