@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,700;1,100;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.type {
  background: linear-gradient(black 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  background-repeat: no-repeat;
  animation: typing calc(var(--n) * 0.1s) linear alternate;
}
@keyframes typing {
  from {
    background-size: 0 200%;
  }
}
.clip {
  color: #0000;
  -webkit-background-clip: text;
  background-clip: text;
}
.step {
  animation-timing-function: steps(var(--n));
}
